*{
    margin: 2px;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* ********************************************** */
html{scroll-behavior: smooth;}
/* ********************************************** */
:root{/*Mi variable*/
    --myColor: hsla(300, 76%, 72%, 0.459);
}
/* ********************************************** */
h1{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 0px 10px 10px black;
}
/* ********************************************** */
.nav-item a:hover{
    background-color: purple;
}
/* ********************************************** */
.grillas{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3,auto);
    grid-template-areas: 
    "header"
    "main"
    "footer";
}
/* ***************** MAIN *********************** */
main{
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,auto);
    grid-template-areas: 
    "cover cover"
    "novedades novedades"
    "horarios testimonios";
}
/* ***************** SECTION COVER *********************** */
.cover{
    grid-area: cover;
}
.cover img{
    width: 100%;
}
.cover h5{
    text-shadow: 0px 0px 10px black;
}
.cover p{
    text-shadow: 0px 0px 10px black;
}
/* *************** SECTION NOVEDADES ****************** */
.novedades{
    grid-area: novedades;
}
.contenedor-novedades{ /*FLEX*/
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.caja-novedad{ /*BOX MOD*/
    width: 50vw;
    border: solid 2px black;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    font-style: italic;
    background-color: var(--myColor);  
    box-shadow: 0px 10px 10px black;  
}
.caja-novedad:hover{
    background-color: rgb(99, 212, 99);
    transition-duration: 0.8s;
}
.caja-novedad h2{
    font-size: 1.6rem;
    font-weight: bold;
}
.caja-novedad img{
    width: 80%;
    height: 300px;
}
.caja-novedad p{
    text-align: justify;
}
/* **************** SECTION TESTIMONIOS ******************* */
.testimonios{
    grid-area: testimonios;
}
.contenedor-testimonios{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}
.contenedor-testimonios i{
    font-size: 3rem;
    color: blue;
}
.contenedor-testimonios a{
    font-size: 2rem;
    text-decoration: none;
    color: blue;
    text-align: center;
}
.contenedor-testimonios a:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;    
}
.caja-testimonio{
    border: dashed 1px purple;
    border-radius: 10px;
    padding: 5px;
    color:blue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style:oblique;
    background: linear-gradient(var(--myColor),skyblue)
}
.caja-testimonio p span{
    color:orangered;
    font-weight: bold;
}
/* ***************** SECTION HORARIOS ******************* */
.horarios{
    grid-area: horarios;
    background-color: var(--myColor);
}
.horarios table{
    margin: auto;
    font-size:medium;
    border-color: black;
    border-width: 3px;
    border-collapse: collapse;    
}
.horarios th, td{
    border: 3px solid black;
    padding: 8px;
    text-align: center;
}
.horarios .celdaColor{
    background-color: purple;
    font-weight: bold;
}
.horarios .celdaCursiva{
    font-style: italic;
}
/* ******************* FOOTER *********************** */
footer{
    grid-area: footer;
    background-color: rgba(0, 0, 0, 0.822);
    color: white;
    text-align: center;
}
footer p a{
    text-decoration: none;
}
footer span{
    color: orange;
    font-weight: bold;
}
footer .redes-sociales{
    display: inline-block;  
    padding-top: 5px;
    padding-bottom: 5px;
}
footer .redes-sociales a{
    color: white;
    text-decoration: none;
}
footer .redes-sociales i{
    font-size: 1.5rem;
}
footer .topnav{
    background-color: black;
    padding-top: 10px;
}
footer .topnav nav{
    width: fit-content;
    margin: auto;
}
footer .topnav nav a{
    text-decoration: none;
    color: orange;
    font-weight: bold;
    font-size: medium;
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* >>>>>>>>>>>>>>>>>>> OTRAS PAGINAS >>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* ******** GALERIA **************/
.main-galeria{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.galeria{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.galeria .contenedor-galeria{
    border: 2px solid black;    
}
.galeria .contenedor-galeria img{
    width:30vw;
    height:200px;
}

/* ******** TURNOS Y PRESUPUESTO **************/
.main-tramite{
    display: flex;
    flex-direction: column;
}
.tramite{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
}
.tramite .contenedor-tramite{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.tramite .contenedor-tramite input{
    width: auto;
}
.tramite .contenedor-tramite textarea{
    width: 50%;
}
.tramite .contenedor-tramite .contenedor-checkbox{
    justify-content: left;
    text-align: left;
}
.tramite .contenedor-tramite .check_box{
    border: dashed 1px gray;
    font-weight: normal;
}
.contenedor-tramite input:focus{
    background-color: var(--myColor);
}
.contenedor-checkbox input:checked + label{
    font-weight: bold;
    color:purple;
}
/* ******** UBICACION **************/
.main-ubicacion{
    display: flex;
    flex-direction: column;
}
.ubicacion{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    justify-content: center;
 }
.ubicacion .caja-texto{
    border: solid 2px black;
    width: 40vw;
    font-size: 1.5rem;
    background:radial-gradient(var(--myColor) 60%, skyblue);  
}
.caja_maps{
    border: solid 3px red;
    width: fit-content;
    margin: auto;
    padding: 10px;
    background-color: greenyellow;
}
.caja_maps:hover{
    background-color: red;
    transition-duration: 1s;
}



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* >>>>>>>>>>>>>>>>>>> MEDIA QUERIES >>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (max-width:768px){
    /* ---- INDEX ----*/
   
    .caja-novedad{
        width: 50vh;
    }
    .contenedor-testimonios{
        flex-direction: column;
    }
    /* ---- GALERIA ---- */
    .galeria .contenedor-galeria img{
        width:40vw;
    }
    /* ---- TURNOS Y PRESUPUESTO ---- */
    .tramite .contenedor-tramite textarea{
        width: 80%;
    }
    /* ---- UBICACION ----*/
    .ubicacion{
        flex-direction: column;
        justify-content: center;
    }
    .ubicacion .caja-texto{
        width: auto;
    }
}

@media (max-width:420px){
    /* ---- INDEX ----*/
    main{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,auto);
        grid-template-areas: 
        "cover"
        "novedades"
        "testimonios"
        "horarios";
    }
    .contenedor-novedades{
        flex-direction: column;
        padding: 0;
    }
    .caja-novedad{
        width:auto;
    }
    /* ---- GALERIA ---- */
    .galeria{
        flex-direction: column;
        flex-wrap: nowrap; 
    }
    .galeria .contenedor-galeria img{
        width:auto;
        height:auto;
    }
    /* ---- TURNOS Y TRAMITES ---- */
  
    /* ---- UBICACION ----*/
    .ubicacion .caja-texto{
        width: auto;
        font-size: 1rem;
    }
}