.main-galeria{
    display: flex;
    flex-direction: column;
    text-align: center;
    .cover img{
        width: 100%;
    }
    .galeria{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .contenedor-galeria{
            border: 2px solid black;    
            img{
                width:30vw;
                height:50vh;
                object-fit:cover;
            }
            &:hover{
                transform: scale(0.98);
                transition-duration: 0.25s;
            }
        }
    }
}