@mixin myBoton($colorFondo:white, $colorTexto:black, $radius:10px){
    background-color: none;
    text-align: center;
    text-decoration: none;
    border: 1px solid $colorTexto;
    border-radius: $radius;
    padding:2px;

    a{
        text-decoration: none;
        color: $colorTexto;
    }

    &:hover{
        background-color: $colorFondo;
        a{
            color: white;
        }
        transition-duration: 0.5s;
            
    }
}

.boton_submit{
    @include myBoton(purple,purple,10px);
}

.boton_resultados{
    @include myBoton($colorSecu,blue,5px);
}