*{
    margin: 2px;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html{scroll-behavior: smooth;}

$colorPpal: hsla(300, 76%, 72%, 0.459);
$colorSecu: skyblue;
$colorFondo: black;

$fondos: (
    novedades_section: white,
    horarios_section: $colorPpal,
    testimonios_section: $colorSecu,
    footer_section:  rgba(0, 0, 0, 0.822),
);

@mixin estilo-titulos($colorTexto, $x:0px, $y:10px, $z:10px){
    text-shadow: $x $y $z $colorTexto;
}

h1{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    @include estilo-titulos($colorFondo)
}

.nav-item a:hover{
    background-color: $colorPpal;
}

.grillas{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3,auto);
    grid-template-areas: 
    "header"
    "main"
    "footer";
}