@media (max-width:768px){
    /* ---- INDEX ----*/
    .novedades .caja-novedad{
        width: 50vw;
    }
    .testimonios .contenedor-testimonios{
        flex-direction: column;
    }
    /* ---- GALERIA ---- */
    .main-galeria .galeria .contenedor-galeria img{
        width:40vw;
    }
    /* ---- TURNOS Y PRESUPUESTO ---- */
    .main-tramite .tramite .contenedor-tramite textarea{
        width: 80%;
    }
    /* ---- UBICACION ----*/
    .main-ubicacion .ubicacion{
        flex-direction: column;
        justify-content: center;
        .caja-texto{
            width: 100%;
        }
        .ubicacion-mapa iframe{
            width: 100%;
        }
    }    
}

@media (max-width:420px){
    /* ---- INDEX ----*/
    main{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,auto);
        grid-template-areas: 
        "cover"
        "novedades"
        "testimonios"
        "horarios";
        .novedades .contenedor-novedades{
            flex-direction: column;
            padding: 0;
            .caja-novedad{
                width:auto;
            }
        }
    }    
    /* ---- GALERIA ---- */
    .main-galeria .galeria{
        flex-direction: column;
        flex-wrap: nowrap; 
        .contenedor-galeria img{
            width:100%;
            height:auto;
        }
    }
    /* ---- UBICACION ----*/
    .main-ubicacion .ubicacion .caja-texto{
        width: 100%;
        font-size: 1rem;
    }
}