*{
    margin: 2px;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html{scroll-behavior: smooth;}

:root{/*Mi variable*/
    --myColor: hsla(300, 76%, 72%, 0.459);
}

$colorFondo: black;

@mixin estilo-titulos($colorTexto, $x:0px, $y:10px, $z:10px){
    text-shadow: $x $y $z $colorTexto;
}

h1{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    @include estilo-titulos($colorFondo)
}

.nav-item a:hover{
    background-color: purple;
}

.grillas{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3,auto);
    grid-template-areas: 
    "header"
    "main"
    "footer";
}